USE [master]
GO
/****** Object:  Database [FabricaZapatos]    Script Date: 24/02/2026 14:31:03 ******/
CREATE DATABASE [FabricaZapatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FabricaZapatos', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\FabricaZapatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FabricaZapatos_log', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\FabricaZapatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FabricaZapatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FabricaZapatos]
GO
/****** Object:  Table [dbo].[CompraaInsumo]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraaInsumo](
	[idCompra] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Pagado] [bit] NOT NULL,
	[Comprobante] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CompraaInsumo] PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[idCompra] [int] NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[idDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagooProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagooProveedor](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[idCompra] [int] NOT NULL,
	[importe] [decimal](18, 2) NOT NULL,
	[metodoPago] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SaldoDeuda] [decimal](18, 2) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Cliente]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[SaldoDeuda] [decimal](18, 2) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Cobro]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Cobro](
	[idCobro] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[idCliente] [int] NOT NULL,
	[Importe] [decimal](18, 2) NULL,
	[MetodoPago] [nvarchar](50) NULL,
	[idVenta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCobro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DetallePedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DetallePedido](
	[idDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[Talle] [nvarchar](10) NULL,
	[Cantidad] [int] NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DetallePedidoTalle]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DetallePedidoTalle](
	[idDetallePedidoTalle] [int] IDENTITY(1,1) NOT NULL,
	[idDetallePedido] [int] NOT NULL,
	[Talle] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetallePedidoTalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DetalleVenta]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DetalleVenta](
	[idDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[Talle] [nvarchar](10) NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Pedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Pedido](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[idCliente] [int] NOT NULL,
	[Observacion] [nvarchar](200) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Produccion]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Produccion](
	[idProduccion] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Producto]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombreModelo] [nvarchar](100) NOT NULL,
	[precioVenta] [decimal](18, 2) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Usuario]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[contraseña] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Venta]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[idCliente] [int] NOT NULL,
	[Total] [decimal](18, 2) NULL,
	[Pagado] [bit] NULL,
	[idPedido] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_Cliente] ADD  DEFAULT ((0)) FOR [SaldoDeuda]
GO
ALTER TABLE [dbo].[TB_Cliente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TB_DetallePedido] ADD  DEFAULT ('') FOR [Color]
GO
ALTER TABLE [dbo].[TB_Producto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TB_Venta] ADD  DEFAULT ((0)) FOR [Pagado]
GO
ALTER TABLE [dbo].[CompraaInsumo]  WITH CHECK ADD  CONSTRAINT [FK_CompraaInsumo_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[CompraaInsumo] CHECK CONSTRAINT [FK_CompraaInsumo_Proveedor]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_CompraaInsumo] FOREIGN KEY([idCompra])
REFERENCES [dbo].[CompraaInsumo] ([idCompra])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_CompraaInsumo]
GO
ALTER TABLE [dbo].[PagooProveedor]  WITH CHECK ADD  CONSTRAINT [FK_PagooProveedor_CompraaInsumo] FOREIGN KEY([idCompra])
REFERENCES [dbo].[CompraaInsumo] ([idCompra])
GO
ALTER TABLE [dbo].[PagooProveedor] CHECK CONSTRAINT [FK_PagooProveedor_CompraaInsumo]
GO
ALTER TABLE [dbo].[TB_Cobro]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[TB_Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[TB_Cobro]  WITH CHECK ADD  CONSTRAINT [FK_Cobro_Venta] FOREIGN KEY([idVenta])
REFERENCES [dbo].[TB_Venta] ([idVenta])
GO
ALTER TABLE [dbo].[TB_Cobro] CHECK CONSTRAINT [FK_Cobro_Venta]
GO
ALTER TABLE [dbo].[TB_DetallePedido]  WITH CHECK ADD FOREIGN KEY([idPedido])
REFERENCES [dbo].[TB_Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[TB_DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_TB_DetallePedido_TB_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[TB_Producto] ([idProducto])
GO
ALTER TABLE [dbo].[TB_DetallePedido] CHECK CONSTRAINT [FK_TB_DetallePedido_TB_Producto]
GO
ALTER TABLE [dbo].[TB_DetallePedidoTalle]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedidoTalle_DetallePedido] FOREIGN KEY([idDetallePedido])
REFERENCES [dbo].[TB_DetallePedido] ([idDetallePedido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_DetallePedidoTalle] CHECK CONSTRAINT [FK_DetallePedidoTalle_DetallePedido]
GO
ALTER TABLE [dbo].[TB_DetalleVenta]  WITH CHECK ADD FOREIGN KEY([idVenta])
REFERENCES [dbo].[TB_Venta] ([idVenta])
GO
ALTER TABLE [dbo].[TB_DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_TB_DetalleVenta_TB_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[TB_Producto] ([idProducto])
GO
ALTER TABLE [dbo].[TB_DetalleVenta] CHECK CONSTRAINT [FK_TB_DetalleVenta_TB_Producto]
GO
ALTER TABLE [dbo].[TB_Pedido]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[TB_Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[TB_Produccion]  WITH CHECK ADD FOREIGN KEY([idPedido])
REFERENCES [dbo].[TB_Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[TB_Venta]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[TB_Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[TB_DetallePedidoTalle]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[TB_DetallePedidoTalle]  WITH CHECK ADD CHECK  (([Talle]>=(35) AND [Talle]<=(45)))
GO
/****** Object:  StoredProcedure [dbo].[ActualizarSaldoCliente]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarSaldoCliente] 
	@idCliente INT, @importe DECIMAL(18,2)
AS
BEGIN
	UPDATE TB_Cliente
	SET SaldoDeuda = SaldoDeuda + @importe
	WHERE idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarSaldoProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarSaldoProveedor]
    @idProveedor INT,
    @importe DECIMAL(18,2)
AS
BEGIN
    UPDATE Proveedor
    SET SaldoDeuda = SaldoDeuda - @importe
    WHERE idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[AltaCliente]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaCliente]
    @Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50),
    @Telefono NVARCHAR(20),
    @Email NVARCHAR(100)
AS
BEGIN
    INSERT INTO TB_Cliente
    (Nombre, Apellido, Telefono, Email, SaldoDeuda, Activo)
    VALUES
    (@Nombre, @Apellido, @Telefono, @Email, 0, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaCobro]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaCobro]
    @Fecha DATETIME,
    @idCliente INT,
    @Importe DECIMAL(18,2),
    @MetodoPago NVARCHAR(50),
    @idVenta INT
AS
BEGIN
    INSERT INTO TB_Cobro (Fecha, idCliente, Importe, MetodoPago, idVenta)
    VALUES (@Fecha, @idCliente, @Importe, @MetodoPago, @idVenta)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaCompraInsumo]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaCompraInsumo]
    @idCompra INT,
    @fecha DATETIME,
    @idProveedor INT,
    @total DECIMAL(18,2),
    @pagado BIT,
    @comprobante NVARCHAR(50)
AS
BEGIN
    INSERT INTO CompraaInsumo
    (idCompra, Fecha, idProveedor, Total, Pagado, Comprobante)
    VALUES
    (@idCompra, @fecha, @idProveedor, @total, @pagado, @comprobante)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaDetalleCompra]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaDetalleCompra]
    @idCompra INT,
    @descripcion NVARCHAR(200),
    @cantidad DECIMAL(18,2),
    @precioUnitario DECIMAL(18,2),
    @subtotal DECIMAL(18,2)
AS
BEGIN
    INSERT INTO DetalleCompra
    (idCompra, Descripcion, Cantidad, PrecioUnitario, Subtotal)
    VALUES
    (@idCompra, @descripcion, @cantidad, @precioUnitario, @subtotal)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaDetallePedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaDetallePedido]
    @idPedido INT,
    @idProducto INT,
    @Color NVARCHAR(50),
    @CantidadTotal INT
AS
BEGIN
    INSERT INTO TB_DetallePedido
        (idPedido, idProducto, Color, Cantidad)
    VALUES
        (@idPedido, @idProducto, @Color, @CantidadTotal)

    SELECT SCOPE_IDENTITY() AS idDetallePedido;
END
GO
/****** Object:  StoredProcedure [dbo].[AltaDetallePedidoTalle]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaDetallePedidoTalle]
    @idDetallePedido INT,
    @Talle INT,
    @Cantidad INT
AS
BEGIN
    INSERT INTO TB_DetallePedidoTalle
        (idDetallePedido, Talle, Cantidad)
    VALUES
        (@idDetallePedido, @Talle, @Cantidad)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaDetalleVenta]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaDetalleVenta]
    @idVenta INT,
    @idProducto INT,
    @Talle NVARCHAR(10),
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2),
    @Subtotal DECIMAL(18,2)
AS
BEGIN
    INSERT INTO TB_DetalleVenta
    (idVenta, idProducto, Talle, Cantidad, PrecioUnitario, Subtotal)
    VALUES
    (@idVenta, @idProducto, @Talle, @Cantidad, @PrecioUnitario, @Subtotal)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaPagoProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaPagoProveedor]
    @fecha DATETIME,
    @idCompra INT,
    @importe DECIMAL(18,2),
    @metodoPago NVARCHAR(50)
AS
BEGIN
    INSERT INTO PagooProveedor
    (fecha, idCompra, importe, metodoPago)
    VALUES
    (@fecha, @idCompra, @importe, @metodoPago)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaPedido]
    @idCliente INT,
    @Fecha DATE,
    @Observacion NVARCHAR(200),
    @Estado NVARCHAR(50)
AS
BEGIN
    INSERT INTO TB_Pedido
        (idCliente, Fecha, Observacion, Estado)
    VALUES
        (@idCliente, @Fecha, @Observacion, @Estado)

    SELECT SCOPE_IDENTITY() AS idPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[AltaProducto]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaProducto] 
	@nombreModelo nvarchar(50), @precioVenta decimal(18,2)
AS
BEGIN
	INSERT INTO TB_Producto(nombreModelo,precioVenta,activo)
	VALUES(@nombreModelo, @precioVenta, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[AltaProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaProveedor] 
	@idProveedor int, @nombre nvarchar(50), @apellido nvarchar(50), @telefono nvarchar(50), @email nvarchar(50)
AS
BEGIN
	INSERT INTO Proveedor( idProveedor, Nombre, Apellido, Telefono, Email, SaldoDeuda, Activo)
	VALUES(@idProveedor, @nombre, @apellido, @telefono, @email, 0, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaUsuario] 
	@nombreUsuario nvarchar(50), @contraseñaHash nvarchar(100)
AS
BEGIN
	INSERT INTO TB_Usuario (nombreUsuario, contraseña)
	VALUES (@nombreUsuario, @contraseñaHash)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaVenta]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaVenta]
    @Fecha DATETIME,
    @idCliente INT,
    @idPedido INT,
    @Total DECIMAL(18,2),
    @Pagado BIT
AS
BEGIN
    INSERT INTO TB_Venta (Fecha, idCliente, idPedido, Total, Pagado)
    VALUES (@Fecha, @idCliente, @idPedido, @Total, @Pagado)

    SELECT SCOPE_IDENTITY() AS idVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[AumentarSaldoProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AumentarSaldoProveedor]
    @idProveedor INT,
    @importe DECIMAL(18,2)
AS
BEGIN
    UPDATE Proveedor
    SET saldoDeuda = saldoDeuda + @importe
    WHERE idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarDetallesPorPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarDetallesPorPedido]
    @idPedido INT
AS
BEGIN
    DELETE FROM TB_DetallePedido
    WHERE idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarTallesPorPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarTallesPorPedido]
    @idPedido INT
AS
BEGIN
    DELETE t
    FROM TB_DetallePedidoTalle t
    INNER JOIN TB_DetallePedido d ON d.idDetallePedido = t.idDetallePedido
    WHERE d.idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoCliente]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoCliente]
    @idCliente INT,
    @Activo BIT
AS
BEGIN
    UPDATE TB_Cliente
    SET Activo = @Activo
    WHERE idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoPedido]
    @idPedido INT,
    @Estado NVARCHAR(50)
AS
BEGIN
    UPDATE TB_Pedido
    SET Estado = @Estado
    WHERE idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoProducto]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CambiarEstadoProducto] 
	@idProducto int, @activo bit
AS
BEGIN
	UPDATE TB_Producto
	SET Activo = @activo
	WHERE idProducto = @idProducto
END

GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoProveedor]
    @idProveedor INT,
    @activo BIT
AS
BEGIN
    UPDATE Proveedor
    SET activo = @activo
    WHERE idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[ExisteUsuario]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ExisteUsuario] 
	@nombreUsuario nvarchar(50)
AS
BEGIN
SELECT *
FROM TB_Usuario
WHERE nombreUsuario = @nombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[ExisteVentaPorPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExisteVentaPorPedido]
    @idPedido INT
AS
BEGIN
    SELECT COUNT(*) 
    FROM TB_Venta
    WHERE idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[FinalizarProduccion]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FinalizarProduccion]
    @idProduccion INT
AS
BEGIN
    UPDATE TB_Produccion
    SET 
        Estado = 'Finalizado',
        FechaFin = GETDATE()
    WHERE idProduccion = @idProduccion
END
GO
/****** Object:  StoredProcedure [dbo].[IniciarProduccion]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IniciarProduccion]
    @idPedido INT
AS
BEGIN
    INSERT INTO TB_Produccion
    (
        idPedido,
        FechaInicio,
        Estado
    )
    VALUES
    (
        @idPedido,
        GETDATE(),
        'EnProduccion'
    )
END
GO
/****** Object:  StoredProcedure [dbo].[ListarClientes]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarClientes]
AS
BEGIN
    SELECT *
    FROM TB_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[ListarComprasPorProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarComprasPorProveedor]
    @idProveedor INT
AS
BEGIN
    SELECT 
        idCompra,
        Fecha,
        Total,
        Pagado,
        Comprobante
    FROM CompraaInsumo
    WHERE idProveedor = @idProveedor
    ORDER BY idCompra ASC
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPedidos]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarPedidos]
    @idCliente INT,
    @Estado NVARCHAR(50) = NULL,
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL
AS
BEGIN
    SELECT *
    FROM TB_Pedido
    WHERE idCliente = @idCliente
    AND (@Estado IS NULL OR Estado = @Estado)
    AND (@FechaDesde IS NULL OR Fecha >= @FechaDesde)
    AND (@FechaHasta IS NULL OR Fecha <= @FechaHasta)
    ORDER BY Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPedidosParaProduccion]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarPedidosParaProduccion]
AS
BEGIN
    SELECT 
        idPedido,
        Fecha,
        idCliente,
        Observacion,
        Estado
    FROM TB_Pedido
END
GO
/****** Object:  StoredProcedure [dbo].[ListarProducciones]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarProducciones]
AS
BEGIN
    SELECT 
        idProduccion,
        idPedido,
        FechaInicio,
        FechaFin,
        Estado
    FROM TB_Produccion
END
GO
/****** Object:  StoredProcedure [dbo].[ListarProductos]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarProductos] 

AS
BEGIN
	SELECT * FROM TB_Producto END
GO
/****** Object:  StoredProcedure [dbo].[ListarProveedores]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarProveedores]
AS
BEGIN
    SELECT * FROM Proveedor
END
GO
/****** Object:  StoredProcedure [dbo].[ListarVentas]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarVentas]
AS
BEGIN
    SELECT *
    FROM TB_Venta
END
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LoginUsuario] 
	@nombreUsuario nvarchar(50),  @contraseña nvarchar(100)
AS
BEGIN
	SELECT *
	FROM TB_Usuario
	WHERE nombreUsuario = @nombreUsuario
	AND contraseña = @contraseña
END

GO
/****** Object:  StoredProcedure [dbo].[MarcarCompraPagada]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MarcarCompraPagada]
    @idCompra INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE CompraaInsumo
    SET Pagado = 1
    WHERE idCompra = @idCompra
END
GO
/****** Object:  StoredProcedure [dbo].[MarcarVentaPagada]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MarcarVentaPagada]
    @idVenta INT
AS
BEGIN
    UPDATE TB_Venta
    SET Pagado = 1
    WHERE idVenta = @idVenta
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarCliente]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarCliente]
    @idCliente INT,
    @Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50),
    @Telefono NVARCHAR(20),
    @Email NVARCHAR(100)
AS
BEGIN
    UPDATE TB_Cliente
    SET
        Nombre = @Nombre,
        Apellido = @Apellido,
        Telefono = @Telefono,
        Email = @Email
    WHERE idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarPedido]
    @idPedido INT,
    @idCliente INT,
    @Fecha DATE,
    @Observacion NVARCHAR(200)
AS
BEGIN
    UPDATE TB_Pedido
    SET idCliente = @idCliente,
        Fecha = @Fecha,
        Observacion = @Observacion
    WHERE idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarProducto]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarProducto] 
	@idProducto int, @nombreModelo nvarchar(50), @precioVenta decimal(18,2) 
AS
BEGIN
	UPDATE TB_Producto
	SET 
	nombreModelo = @nombreModelo,
	precioVenta = @precioVenta
	WHERE idProducto = @idProducto
END

GO
/****** Object:  StoredProcedure [dbo].[ModificarProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarProveedor] 
	@idProveedor INT,
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @telefono NVARCHAR(50),
    @email NVARCHAR(50)
AS
BEGIN
    UPDATE Proveedor
    SET
        nombre = @nombre,
        apellido = @apellido,
        telefono = @telefono,
        email = @email
    WHERE idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedorPorCompra]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProveedorPorCompra]
    @idCompra INT
AS
BEGIN
    SELECT idProveedor
    FROM CompraaInsumo
    WHERE idCompra = @idCompra
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedorPorId]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProveedorPorId]
    @idProveedor INT
AS
BEGIN
    SELECT *
    FROM Proveedor
    WHERE idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSaldoCompra]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSaldoCompra]
    @idCompra INT
AS
BEGIN
    SELECT Total
    FROM CompraaInsumo
    WHERE idCompra = @idCompra
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSaldoProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSaldoProveedor]
    @idProveedor INT
AS
BEGIN
    SELECT SaldoDeuda
    FROM Proveedor
    WHERE idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSumaCobrosPorVenta]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSumaCobrosPorVenta]
    @idVenta INT
AS
BEGIN
    SELECT ISNULL(SUM(Importe), 0) AS TotalCobrado
    FROM TB_Cobro
    WHERE idVenta = @idVenta
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTotalPagadoCompra]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTotalPagadoCompra]
    @idCompra INT
AS
BEGIN
    SELECT ISNULL(SUM(Importe),0)
    FROM PagooProveedor
    WHERE idCompra = @idCompra
    END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUltNroCompra]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUltNroCompra]
AS
BEGIN
    SELECT ISNULL(MAX(idCompra),0) AS UltimoNumero
    FROM CompraaInsumo
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUltNroProducto]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUltNroProducto] 

AS
BEGIN
SELECT ISNULL(MAX(idProducto), 0) as UltNumeroProducto FROM Producto
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUltNroProveedor]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUltNroProveedor]

AS
BEGIN
	SELECT ISNULL(MAX(idProveedor), 0) AS UltimoNumero
	FROM Proveedor
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUltNroUsuario]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUltNroUsuario] 
	
AS
BEGIN
	SELECT ISNULL(MAX(idUsuario), 0) AS idUsuario
	FROM TB_Usuario
END

GO
/****** Object:  StoredProcedure [dbo].[Reporte_ProveedoresDeuda]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte_ProveedoresDeuda]
AS
BEGIN
    SELECT idProveedor, nombre, saldoDeuda 
    FROM Proveedor 
    WHERE saldoDeuda > 0
END
GO
/****** Object:  StoredProcedure [dbo].[ReporteCajaMetodosPago]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReporteCajaMetodosPago]
    @Fecha DATE
AS
BEGIN
    SELECT MetodoPago, SUM(Importe) as TotalIngresado
    FROM TB_Cobro
    WHERE CAST(Fecha AS DATE) = @Fecha
    GROUP BY MetodoPago
END
GO
/****** Object:  StoredProcedure [dbo].[ReporteClientesMorosos]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReporteClientesMorosos]
AS
BEGIN
    SELECT 
        idCliente,
        Nombre,
        Telefono,
        SaldoDeuda AS MontoPendiente
    FROM TB_Cliente
    WHERE SaldoDeuda > 0
    ORDER BY SaldoDeuda DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ReporteCobrosRealizados]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReporteCobrosRealizados]
    @Fecha DATETIME
AS
BEGIN
    SELECT 
        CB.idCobro,
        CB.Fecha,
        CL.Nombre AS Cliente,
        CB.Importe,
        CB.MetodoPago,
        CB.idVenta AS VentaNRO
    FROM TB_Cobro CB
    INNER JOIN TB_Cliente CL ON CB.idCliente = CL.idCliente
    WHERE CAST(CB.Fecha AS DATE) = CAST(@Fecha AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[ReporteComprasDiarias]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReporteComprasDiarias]
    @Fecha DATE
AS
BEGIN
    SELECT idCompra, idProveedor, Total, Pagado 
    FROM CompraaInsumo 
    WHERE CAST(Fecha AS DATE) = @Fecha
END
GO
/****** Object:  StoredProcedure [dbo].[ReporteVentasDiarias]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReporteVentasDiarias]
    @Fecha DATE
AS
BEGIN
    SELECT idVenta, Total, Pagado 
    FROM TB_Venta 
    WHERE CAST(Fecha AS DATE) = @Fecha
END
GO
/****** Object:  StoredProcedure [dbo].[RestarSaldoCliente]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestarSaldoCliente]
    @idCliente INT,
    @Importe DECIMAL(18,2)
AS
BEGIN
    UPDATE TB_Cliente
    SET SaldoDeuda = SaldoDeuda - @Importe
    WHERE idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[TraerDetallePedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerDetallePedido]
    @idPedido INT
AS
BEGIN
    SELECT dp.idDetallePedido,
           dp.idProducto,
           p.nombreModelo,
           dp.Color,
           dp.Cantidad
    FROM TB_DetallePedido dp
    INNER JOIN TB_Producto p ON p.idProducto = dp.idProducto
    WHERE dp.idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[TraerDetallesConPrecio]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerDetallesConPrecio]
    @idPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        dp.idDetallePedido,
        dp.idPedido,
        dp.idProducto,
        p.nombreModelo,   
        dp.Talle,
        dp.Cantidad,
        p.precioVenta,   
        dp.Color
    FROM TB_DetallePedido dp
    INNER JOIN TB_Producto p ON dp.idProducto = p.idProducto
    WHERE dp.idPedido = @idPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerDetallesPorPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerDetallesPorPedido]
    @idPedido INT
AS
BEGIN
    SELECT *
    FROM TB_DetallePedido
    WHERE idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[TraerPedidoPorId]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerPedidoPorId]
    @idPedido INT
AS
BEGIN
    SELECT *
    FROM TB_Pedido
    WHERE idPedido = @idPedido
END
GO
/****** Object:  StoredProcedure [dbo].[TraerTallesPorPedido]    Script Date: 24/02/2026 14:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerTallesPorPedido]
    @idPedido INT
AS
BEGIN
    SELECT t.*
    FROM TB_DetallePedidoTalle t
    INNER JOIN TB_DetallePedido d
        ON d.idDetallePedido = t.idDetallePedido
    WHERE d.idPedido = @idPedido
END
GO
USE [master]
GO
